<div class="container">
    <h1> Add New Book</h1>

    <%= form_for :book, url: books_path do |f| %>
        
    <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>

    <div class="form-group">
        <%= f.label :price %>
        <%= f.number_field :price %>
        <br>
        <br>
        <%= f.label :publisher %>
        <%= f.text_field :publisher_name %>
        <br>
        <br>
        <%= f.label :book_desciption %>
        <%= f.text_area :description %>
        <br>
        <br>
        <%= f.label :copies %>
        <%= f.number_field :num_of_copies %>
    </div>

    <div class="form-group">
        <%= f.submit %>
    </div>

    <% end %>
</div>
