<div class="container">

    <h3>Book Details</h3>

    <p>ID: <%= @book.book_id %> </p>
    <br>
    <br>
    <p>Title: <%= @book.title %> </p>
    <br>
    <br>
    <p>Price: <%= @book.price %> </p>
    <br>
    <br>
    <p>Publisher: <%= @book.publisher %> </p>
    <br>
    <br>
    <p>Description: <%= @book.description %> </p>

</div>