<div class="container">

    <%= form_tag search_novels_path, method: :get do %>

    <%= text_field_tag :term, nil, placeholder: 'Search', class:'form-control' %>
    
    <%= submit_tag "Search", class:'btn btn-default' %>
    
    <% end %>

    <h2>Novel List</h2>

    <table border="1" class="table">
        <tr>
            <th>Title</th>
            <th>Genre ID</th>
            <th>Author ID</th>
            <th>Publisher ID</th>
            <th>ISBN</th>
            <th>Price</th>
            <th>Publication</th>
            <th>Format</th>
            <th>Description</th>
            <th>Pages</th>
            <th>Details</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>

        <% @novels.each do |novel| %>

        <tr>
            <td><%= novel.title%></td>
            <td><%= novel.genre_id%></td>
            <td><%= novel.author_id%></td>
            <td><%= novel.publisher_id%></td>
            <td><%= novel.isbn%></td>
            <td><%= novel.price%></td>
            <td><%= novel.publication%></td>
            <td><%= novel.format%></td>
            <td><%= novel.description%></td>
            <td><%= novel.pages%></td>
            <td><%= link_to 'Show', novel_path(novel) %></td>
            <td><%= link_to 'Edit', edit_novel_path(novel) %> </td>
            <td><%= link_to 'Delete', novel_path(novel), method: :Delete, data: {confirm: "Are you sure you want to delete details"}%> </td>
        </tr>
        <% end %>
    </table>
    
</div>