<div class="container">

    <h3>Novel Details</h3>
    <br>
    <br>
        <p>Title: <%= @novel.title %> </p>
    <br>
    <br>
        <p>ISBN: <%= @novel.isbn %> </p>
    <br>
    <br>
        <p>Price: <%= @novel.price %> </p>
    <br>
    <br>
        <p>Publication: <%= @novel.publication %> </p>
    <br>
    <br>
        <p>Format: <%= @novel.format %> </p>
    <br>
    <br>
        <p>Description: <%= @novel.description %> </p>
    <br>
    <br>
        <p>Pages: <%= @novel.pages %> </p>
    <br>
    <br>

</div>