<div class="container">
    <h2>Add New Publisher</h2>

    <%= form_for :publisher, url: publishers_path do |f| %>
        
    <div class="form-group">
        <%= f.label :name %><br />
        <%= f.text_field :name, class:'form-control' %><br />

        <%= f.label :country %><br />
        <%= f.text_field :country, class:'form-control' %><br />

    </div>

    <%= f.submit "Submit", class:'btn btn-primary' %>
    <%=link_to "Cancel", publishers_path, class:'btn btn-default' %>

    <% end %>
</div>