<div class="container">
    <h2>Add New Author</h2>

    <%= form_for :author, url: authors_path do |f| %>
        
    <div class="form-group">
        <%= f.label :fname %><br />
        <%= f.text_field :fname, class:'form-control' %><br />

        <%= f.label :lname %><br />
        <%= f.text_field :lname, class:'form-control' %><br />

        <%= f.label :bio %><br />
        <%= f.text_area :bio, class:'form-control' %><br />
    </div>

    <%= f.submit "Submit", class:'btn btn-primary' %>
    <%=link_to "Cancel", authors_path, class:'btn btn-default' %>

    <% end %>
</div>