<div class="container">
    <h2>Add New Genre</h2>

    <%= form_for :genre, url: genres_path do |f| %>
        
    <div class="form-group">
        <%= f.label :name %><br />
        <%= f.text_field :name, class:'form-control' %><br />

    </div>

    <%= f.submit "Submit", class:'btn btn-primary' %>
    <%=link_to "Cancel", authors_path, class:'btn btn-default' %>

    <% end %>
</div>